@tailwind base;
@tailwind components;
@tailwind base;

html {
  background-color: var(--background-color);
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
