/*
* TailwindCSS & ShadCN.
* @see https://tailwindcss.com/docs/guides/remix
* @see https://ui.shadcn.com
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 358 100% 100%;
    --foreground: 358 5% 10%;
    --card: 358 50% 100%;
    --card-foreground: 358 5% 15%;
    --popover: 358 100% 100%;
    --popover-foreground: 358 100% 10%;
    --primary: 358 69.8% 40.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 358 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 320 30% 95%;
    --muted-foreground: 358 5% 40%;
    --accent: 320 30% 90%;
    --accent-foreground: 358 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 358 5% 100%;
    --border: 358 30% 82%;
    --input: 358 30% 50%;
    --ring: 358 69.8% 40.2%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 358 50% 10%;
    --foreground: 358 5% 100%;
    --card: 358 50% 10%;
    --card-foreground: 358 5% 100%;
    --popover: 358 50% 5%;
    --popover-foreground: 358 5% 100%;
    --primary: 358 69.8% 40.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 358 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 320 30% 25%;
    --muted-foreground: 358 5% 65%;
    --accent: 320 30% 25%;
    --accent-foreground: 358 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 358 5% 100%;
    --border: 358 30% 50%;
    --input: 358 30% 50%;
    --ring: 358 69.8% 40.2%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  @apply transition duration-200 active:opacity-60;
}

button {
  cursor: pointer;
  @apply transition duration-200 active:scale-[0.98];
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

::selection {
  color: hsl(var(--secondary-foreground));
  background-color: hsl(var(--accent));
}

/*
* Remix Development Tools
*/
.rdt-fixed:first-child {
  height: 32px !important;
  width: 32px !important;
  margin: 16px !important;
}

.rdt-fixed:first-child svg {
  height: 32px !important;
  width: 32px !important;
}

.rdt-fixed:first-child svg rect {
  opacity: 0 !important;
}

.rdt-fixed:first-child svg path {
  &:nth-child(2) {
    fill: hsl(var(--primary)) !important;
  }
  &:nth-child(3) {
    display: none !important;
  }
  &:nth-child(4) {
    display: none !important;
  }
}

/*
* Misc
*/
.base-grid {
  @apply will-change-auto;

  background-size: 30px 30px;
  background-image: linear-gradient(90deg, var(--muted-grid) 1px, transparent 0),
    linear-gradient(180deg, var(--muted-grid) 1px, transparent 0);
}
